                /* GENERAL STYLING */
                    /* FONTS:
                     * font-family: 'Rock Salt', cursive; 
                     * font-family: 'Hi Melody', cursive;
                     * font-family: 'Dawning of a New Day', cursive;*/
body {
    background-image: url("images/watercolor_bckgrnd4.jpeg");
    background-size: cover;
}

header {
    margin:auto;
    display:flex;
    flex-direction:column
}

h1.title {
    text-align:center;
    margin-bottom: 10px;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2.5px 2.5px white;
}

h3.title {
    text-align:center;
    font-family: 'Rock Salt', cursive;
    margin-top: 5px;
    margin-bottom: 10px;
    text-shadow: 1px 1px white;
}

div.navbar {
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    
}

a.navLink {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 120%;
    font-family: 'Rock Salt', cursive;
}

footer {
    margin: auto;
    display:flex;
    flex-direction:row;
    
}

p.foot {
    flex:1;
    text-align: center;
    font-family: 'Hi Melody', cursive;
    font-size:1.5em;
}

a.footlink {
    
}


                /* HOMEPAGE STYLING */
                
                
section.content {
    background-image: linear-gradient(to left, #fffafa, #fafaff);
    border-radius: 15px;
    margin-left: 7%;
margin-right: 7%;
margin-top: 1%;
margin-bottom: 2%;
opacity: .8;
}

div.homeText {
    font-family: 'Hi Melody', cursive;
    font-size:1.5em;
    margin:auto;
    display: flex;
    flex-direction: column;
}

h2.homeHead {
    text-indent:2em;
    
}

p.homeText {
    padding-right:4%;
    padding-left:4%;
}

div.patpic {
    display:flex;
    padding-bottom:2%;
}

img#pat {
    margin:auto;
    width: 600px;
    
    opacity: 1;
    border-radius: 5px;
}



                    /* 404 ERROR PAGE */

div.error {
    font-family: 'Hi Melody', cursive;
    font-size:1.5em;
    margin:auto;
    display:flex;
    flex-direction:column;
    text-align:center;
}

h1.error {
    margin-top:2%;
    margin-bottom:1%;
    font-size: 2em;
}

p.error {
    padding-right:5%;
    padding-left:5%;
}




                        /* ABOUT PAGE */
                        

div.about {
    font-family: 'Hi Melody', cursive;
    font-size:1.5em;
    margin:auto;
    display:flex;
    flex-direction:column;
}

h1.about {
    margin-left: 6%;
}

p.about {
    padding-right:4%;
    padding-left:4%;
}

p.quote {
text-align: center;
    padding-right:4%;
    padding-left:4%;
    margin-top: .5%;
    margin-bottom: .5%;
}

p.from {
text-align:center;
    padding-right:4%;
    padding-left:4%;
    margin-top: .5%;
    margin-bottom: 1%;
    text-indent:4em;
}

div.recipe {
    display:flex;
    padding-bottom:2%;
}

img#recipe {
    margin:auto;
    width: 400px;
    
    border-radius:15px;
}






                        /* ART EXHIBITS PAGE STYLING */
                        





