                /* GENERAL STYLING */
                    /* FONTS:
                     * font-family: 'Rock Salt', cursive; 
                     * font-family: 'Hi Melody', cursive;
                     * font-family: 'Dawning of a New Day', cursive;*/
body {
    background-image: url("images/watercolor_bckgrnd4.jpeg");
    background-size: cover;
}

header {
    margin:auto;
    display:flex;
    flex-direction:column
}

h1.title {
    text-align:center;
    margin-bottom: 10px;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2.5px 2.5px white;
    font-size: 2.4em;
}

h3.title {
    text-align:center;
    font-family: 'Rock Salt', cursive;
    margin-top: 5px;
    margin-bottom: 10px;
    text-shadow: 1px 1px white;
}

div.navbar {
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    
}

a.navLink {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 120%;
    font-family: 'Rock Salt', cursive;
}

footer {
    margin: auto;
    display:flex;
    flex-direction:row;
    
}

p.foot {
    flex:1;
    text-align: center;
    font-family: 'Hi Melody', cursive;
    font-size:1.5em;
}

a.footlink {
    
}


                /* HOMEPAGE STYLING */
                
                
section.content {
    background-image: linear-gradient(to left, #fffafa, #fafaff);
    border-radius: 15px;
    margin-left: 7%;
margin-right: 7%;
margin-top: 1%;
margin-bottom: 2%;
opacity: .8;
}

div.homeText {
    font-family: 'Hi Melody', cursive;
    font-size:1.5em;
    margin:auto;
    display: flex;
    flex-direction: column;
}

h2.homeHead {
    text-indent:2em;
    margin: 1.5%;
}

p.homeText {
    padding-right:4%;
    padding-left:4%;
}

div.patpic {
    display:flex;
    padding-bottom:2%;
}

img#pat {
    margin:auto;
    width: 600px;
    
    opacity: 1;
    border-radius: 5px;
}



                    /* 404 ERROR PAGE */

div.error {
    font-family: 'Hi Melody', cursive;
    font-size:1.5em;
    margin:auto;
    display:flex;
    flex-direction:column;
    text-align:center;
}

h1.error {
    margin-top:2%;
    margin-bottom:1%;
    font-size: 2em;
}

p.error {
    padding-right:5%;
    padding-left:5%;
}




                        /* ABOUT PAGE */
                        

div.about {
    font-family: 'Hi Melody', cursive;
    font-size:1.5em;
    margin:auto;
    display:flex;
    flex-direction:column;
}

h1.about {
    margin-left: 6%;
}

p.about {
    padding-right:4%;
    padding-left:4%;
}

p.quote {
text-align: center;
    padding-right:4%;
    padding-left:4%;
    margin-top: .5%;
    margin-bottom: .5%;
}

p.from {
text-align:center;
    padding-right:4%;
    padding-left:4%;
    margin-top: .5%;
    margin-bottom: 1%;
    text-indent:4em;
}

div.recipe {
    display:flex;
    padding-bottom:2%;
}

img#recipe {
    margin:auto;
    width: 400px;
    
    border-radius:15px;
}






                        /* ART EXHIBITS PAGE STYLING */
                        

section.gallery {
    background-image: linear-gradient(to left, #fffafa, #fafaff);
    border-radius: 15px;
    margin-left: 7%;
margin-right: 7%;
margin-top: 1%;
margin-bottom: 2%;
opacity: .8;
font-family: 'Hi Melody', cursive;
padding-bottom: .1%;
}

div.gallText {
    padding-top: .2%;
}

h2.galleryhead {
    text-indent:2em;
    font-size: 2em;
}

p.gallPara {
    font-size:1.5em;
    text-indent:1.5em;
    padding-left: 1%;
    padding-right:1%;
}

div.artWrap {
    display:flex;
    margin: 3%;
    justify-content: space-evenly;
    flex-direction: column;
}

div.artSection {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding: .8%;
    flex-wrap: wrap;
    float:left;
   flex-basis: auto;
   flex-grow: 1;
   flex-shrink:2;
}

div.artwork {
    flex:1;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    float:left;
   flex-basis: auto;
   flex-grow: 1;
   flex-shrink:2;

}

div.artwork a {
    display:contents;
    flex: 1;
    flex-wrap: wrap;
    float:left;
   flex-basis: auto;
   flex-grow: 1;
   flex-shrink:2;
}

img.art {
    width: 40%;
   /* max-height:50%;*/
   max-width: 40%;
   max-height: 80%;
   display:block;
   
   
   
}





                    /* GALLERY LIGHTBOX VIEWING */
                    

.lightbox {
    position: fixed;
    z-index: 999;
    height: 0;
    width: 0;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.lightbox img {
    max-width: 65%;
    /*max-height: 80%;*/
    margin-top: 2%;
    margin-bottom: 1.5%;
    opacity: 0;
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;

    width: 100%;
    height: 100%;
    opacity: 1 !important;
    
}

.lightbox:target img {
    border: solid 17px rgba(77, 77, 77, 0.8);
    opacity: 1;
    /*webkit-transition: opacity 0.6s;*/
    transition: opacity 0.6s;
}

.light-btn {
    color: #fafafa;
    background-color: #333;
    border: solid 3px #777;
    padding: 5px 15px;
    border-radius: 1px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 45%;
    z-index: 99;
}

.light-btn:hover {
    background-color: #111;
}

.btn-prev {
    left: 7%;
}

.btn-next {
    right: 7%;
}

.btn-close {
    position: absolute;
    right: 2%;
    top: 2%;
    color: #fafafa;
    background-color: #92001d;
    border: solid 5px #ef4036;
    padding: 10px 15px;
    border-radius: 1px;
    text-decoration: none;
}

.btn-close:hover {
    background-color: #740404;
}










